In [8]:
#Importing the necessary libraries
import pandas as pd
import numpy as np

In [10]:
#Loading the dataset    
df = pd.read_csv("datasets/AfricaCupofNationsMatches.csv")
#Displaying the first few rows of the dataset
df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [12]:
#Selecting the columns of interest
df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [13]:
#Select wrows where the home or away team is 'Egypt'
df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,HailÃ© SÃ©lassiÃ© Stadium,Addis Ababa,30000.0
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,HailÃ© SÃ©lassiÃ© Stadium,Addis Ababa,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

In [14]:
#The shape of the DataFrame
df.shape

(622, 12)